<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="applicationContextUtils" class="com.synir.utility.ApplicationContextUtils"></bean>
    <bean id="UserSession" class="com.synir.models.POJO.UserSession" scope="singleton"></bean>
    <bean id="Helper" class="com.synir.utility.Helper" scope="singleton"></bean>
    <bean id="SceneHandler" class="com.synir.SceneHandler" scope="singleton"></bean>
</beans>